In [37]:
import pandas as pd
import numpy as np
import nltk
import string
import re
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split
from sklearn.pipeline import Pipeline
from sklearn.ensemble import RandomForestClassifier

In [2]:
df = pd.read_csv('df_text_new.csv')
df.head()

,query,verbs,nouns,verb_noun,Subject,Intent,Sentiment
0,could you help me cancelling the last order I ...,"help,cancelling,made",order,"help,cancelling,made,order",order,cancellation,Positive
1,could you help me cancelling an order I made?,"help,cancelling,made",order,"help,cancelling,made,order",order,cancellation,Positive
2,help me cancelling an order I made,"help,cancelling,made",order,"help,cancelling,made,order",order,cancellation,Positive
3,help me cancelling the last order I have made,"help,cancelling,made",order,"help,cancelling,made,order",order,cancellation,Positive
4,help with cancelling the order I have made,"help,cancelling,made",order,"help,cancelling,made,order",order,cancellation,Positive

In [3]:
df['num_words'] = df['query'].apply(lambda x: len(x.split()))
df.head()

,query,verbs,nouns,verb_noun,Subject,Intent,Sentiment,num_words
0,could you help me cancelling the last order I ...,"help,cancelling,made",order,"help,cancelling,made,order",order,cancellation,Positive,10
1,could you help me cancelling an order I made?,"help,cancelling,made",order,"help,cancelling,made,order",order,cancellation,Positive,9
2,help me cancelling an order I made,"help,cancelling,made",order,"help,cancelling,made,order",order,cancellation,Positive,7
3,help me cancelling the last order I have made,"help,cancelling,made",order,"help,cancelling,made,order",order,cancellation,Positive,9
4,help with cancelling the order I have made,"help,cancelling,made",order,"help,cancelling,made,order",order,cancellation,Positive,8

In [7]:
# First_model to get the subject
df_subject = df[['verb_noun','num_words','Subject']].copy()
df_subject['verb_noun'] = df_subject['verb_noun'].str.strip(',')
df_subject['verb_noun'] = df_subject['verb_noun'].apply(lambda x: ' '.join(x.split(',')))
df_subject.head(2)

                    verb_noun  num_words Subject
0  help cancelling made order         10   order
1  help cancelling made order          9   order

In [47]:
X = df_subject[['verb_noun']].copy()
y = df_subject['Subject'].copy()
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.30,random_state=1234)
X_train.reset_index(drop=True,inplace=True)
X_test.reset_index(drop=True,inplace=True)

In [48]:
vectorizer = TfidfVectorizer()
X_train_tfidf = pd.DataFrame(vectorizer.fit_transform(X_train['verb_noun']).toarray())

X_train_tfidf

,0,1,2,3,4,5,6,7,8,9,...,171,172,173,174,175,176,177,178,179,180
0,0.0,0.0,0.000000,0.0,0.477735,0.0,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.398010,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.000000,0.0,0.476468,0.0,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3046,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3047,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3048,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.440224,0.0,0.0,...,0.0,0.0,0.329751,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3049,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3050,0.0,0.0,0.286112,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0

      index                                verb_noun  num_words
0      2179        want know register accounts email         14
1       220                                 register          4
2       823                    help recover password          7
3      1405                      have create profile         10
4      2215        tell register user accounts email         13
...     ...                                      ...        ...
3046    664                                 buy item         10
3047   3276                     remember do password          9
3048   1318  want know create profiles email address         15
3049    723                               make order          5
3050   2863       remember retrieve account password          8

[3051 rows x 3 columns]